/* General Styles for Navigation */
nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #0ec3e3; /* Adjusted to match the main box background */
  width: 100%;
  height: 60px;
}

.main-box {
  background-color: #0ec3e3;
  width: 100vw;
}

nav .dehaze-icon {
  display: none;
}

nav .link {
  text-decoration: none;
  color: #333;
  gap: 15px;
  font-size: bold;
}

nav .search {
  display: flex;
  align-items: center;
  background-color: #fff;
  color: black;
  border-radius:6px;
 
}

nav .search input {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding:0px 40px;
}

nav .icons {
  display: flex;
  align-items: center;
}

nav .icon {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.phone {
  display: none;
  position: absolute;
  top: 60px;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.phone div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.phone div a {
  margin: 10px 0;
  text-decoration: none;
  color: #333;
}

/* Media Queries */

/* Styles for screens wider than 800px */
@media (min-width: 801px) {
  .main-box {
    background-color: #0ec3e3;
    width: 100vw;
  }

  nav .dehaze-icon {
    display: none;
  }

  .phone {
    display: none;
  }

  .icons {
    background-color: #0ec3e3;
    gap:20px;
  }

  nav .link {
    display: flex;
  }
}

/* Styles for screens between 600px and 800px */
@media (min-width: 601px) and (max-width: 800px) {
  .main-box {
    background-color: #0ec3e3;
  }
  nav .dehaze-icon {
    display: none;
  }

  .phone {
    display: none;
  }
  .icons {
    background-color: #0ec3e3;
  }

  nav .link {
    display: flex;
  }
}

/* Styles for screens 600px and below */
@media (max-width: 600px) {
  nav .dehaze-icon {
    display: block;
  }

  nav .link {
    display: none;
  }

  .phone {
    display: flex;
    position: absolute;
  }
}
